h1, {
	margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    color: #333333;
}

h2, h3, h4, h5, h6, {
	margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    color: #333333;
}

p, ul, ol, li {
	margin: 0 0 1em 0;
	font-size: 105%;
    line-height: 1.75em;
    font-family: 'Fira Sans', sans-serif;
    color: #333333;
}

body {
	padding: 0;
	margin: 0;
	background-color:#ffd011;
}

div.main {
max-width: 960px;
background-color: white;
padding: 70px 100px 40px 100px;
margin: 0 auto;
text-align: left;
}

.hdr-image {
    display: block;
    max-height: auto;
    max-width: 900px;
    background-image: url("imgs/sprint02-t4-techblog/wg-1983-003.jpg")
}

/* Navigation */
div.nav {
    background-color: #d4d4d4;
    font-family: 'Fira Sans', sans-serif;

}

div.nav ul {
	margin: 0;
	padding: 0;
}

div.nav ul li {
	list-style: none;
	float: left;
	font-size: 93%;
}

div.nav ul li a:link,
div.nav ul li a:visited {
	display: block;
	padding: 20px 5px;
	text-decoration: none;
	color: #000;
	border-right: 0px solid #bababa;
}