/*** New element style ***/

h1, h2, h3, h4, h5, h6  {
    font-family: 'Merriweather', sans-serif;
    color: #3b4859;
}


h1  {
	margin: 0;
    padding: 20px 0 3px 0;
}

h2, h3 {
	margin: 0;
    padding: 20px 0 3px 0;
    color: #3b4859;
}
h4 {
	margin: 0;
    padding: 0 0 3px 0;
    color: #3b4859;
}

h5, h6 {
	margin: 0;
    padding: 0 0;
    color: #3b4859;
}

p, ul, ol, li {
    padding: 3px 0;
	margin: 0;
	font-size: 110%;
    line-height: 1.75em;
    font-family: 'Fira Sans', sans-serif;
    color: #333333;
}

body {
	padding: 0;
	margin: 0;
	background-color:#ffd011;
}

.hdr-image {
    display: block;
}

figure {
    margin: 15px 0 20px 0;
}

figcaption {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;


}

/*** Divs ***/
div.header {
    background-color: #3b4859;
    padding: 20px 80px 0 80px;
    color: #FFFFFF;
    background-image: url("imgs/sprint02-t4-techblog/hdr-bg.jpg");
}

/* Size control */
div.width-control {
	max-width: 1100px;
	padding: 0;
    margin: 0 auto;
}
/* Content padding */
div.content{
    padding: 10px 80px;
}

/* Body */
div.container {
    max-width: 1100px;
    background-color: white;
    padding: 0;
    margin: 0 auto;
    text-align: left;
}

/* Navigation */

nav {
    color: #d4d4d4;
    font-family: 'Fira Sans', sans-serif;
    margin: 20px 0 0 0 0;
    padding: 0 5px 20px 80px;
    text-decoration: none;
    background-color: #3b4859
}


/* Footer */

footer {
    background-color: #3b4859;
    color: #FFFFFF;
    padding: 40px 80px;
    text-align: left;
}


footer p {
    color: #FFFFFF;
    margin: 0;
}

/* unvisited link */
a:link {
    color: #b7bacf;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #b7bacf;
  }
  
  /* mouse over link */
  a:hover {
    color: #ffd011;
    text-emphasis: strong;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }


/* Font special cases */

.monostyle {
    font-family: monospace;
    font-weight: bold;
}

#yellowstyle {
    color: #ffd011;
}

.keywrd {
    color: red;
    font-weight: bold;
}